.sidebar {
  border-right: 1px solid var(--color-gray-300);
  width: 17rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.sidebar__login-register-container {
  margin-top: auto;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.sidebar__login-register-container button {
  width: 100%;
}